<a href="https://colab.research.google.com/github/ram690514/Basic_Machine_Learning-/blob/main/Introduction_to_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

>**Session Outcomes**

Upon successful completion of this session the participants will be able to:

1. understand the advantages of learning `python` for Statistical analysis
2. use `Python` as a  flexible high level programming language

## Why `python` is a right choice for Computational Statistics ?

Python is a popular programming language in scientific computing, because it has many data-oriented feature packages that can speed up and simplify data processing, thus saving time.

## What is Python?

- `Python` is an *object-oriented*, high-level programming language.

- Its built-in data structures and properties, combined with dynamic typing (meaning we don’t have to declare the type of variable like in C or Java) and binding, make it ideal for application development and its use as a scripting language.

- Python’s simple syntax emphasizes readability and reduces programming maintenance.

- Python is a programming language that can be used for a wide range of tasks such as software creation, web development, script writing, unlike HTML, CSS, and JavaScript.

## What is data analysis?
Data analysis is the process of gathering raw data and converting it into information that the users can use to make decisions.

It entails inspecting, cleansing, transforming, and modeling data to uncover valuable information, draw conclusions, and aid decision-making.

In today’s business world, data analysis plays an important role in making scientific decisions and assisting businesses in operating more efficiently.

**Data mining**  is a form of a data analysis technique that emphasizes statistical modeling and information exploration for predictive rather than strictly descriptive purposes.

**Business intelligence** encompasses data analysis that is heavily reliant on aggregation, focusing primarily on business information and decision-making to boost profit turnover.

## Who is a data analyst?
Data analysts are in charge of interpreting data, analyzing the results using statistical techniques, and producing regular reports.

- They plan and carry out data assessments, data collection processes, and other statistical reliability and quality-improvement techniques.

- They are also in charge of data processing and database management from primary and secondary sources.

## What makes Python a brilliant choice for data analysis?

- Easy to learn

- Flexibility

- Huge libraries collection

- Graphics and visualization
- Built-in data analytics tools

#... So let's jump into  `PyWorks 1.0`...


We will be using `Python` a fair amount in this class. `Python` is a high-level scripting language that offers an interactive programming environment. We assume programming experience, so this workshop will focus on the unique properties of `Python`.

Programming languages generally have the following common ingredients: 

>*variables, operators, iterators, conditional statements, functions (built-in and user defined) and higher-order data structures*.

 We will look at these in Python and highlight qualities unique to this language.

## Basic structure of any program

- Input

- Process/ job

- Output

## Simplest program ever!

Just say a Hello!!

Here we need only to display a Hello world message in the console output (monitor)

The `Python` code for this job is:

```
print("Hello world")
```

In [1]:
print("Hello world")

Hello world

>*Note:* To facilitate the computational process, input should be temporarly store in containers called variables.

## Variables
Variables in `Python` are defined and assigned for you when you set a value to them.

>Example:

```
# assign 2 to the variable 'py_variable'
py_variable= 2 
print("Value storedis",py_variable) # displays the value stored in 'py_variable'
type(py_variable)  # return the data type of 'py_variable'
```

Just copy and paste this `python` code chunk in a code cell and run to get the output.

In [ ]:
# assign 2 to the variable 'py_variable'
py_variable= 2 
print("Value stored is",py_variable) # displays the value stored in 'py_variable'
print("Type of the variable is :",type(py_variable))  # return the data type of 'py_variable'

Value stored is 2
Type of the variable is : <class 'int'>

In [ ]:
# example 2
a=10
inst='ICET, MVPA'
print(a,inst,sep=':-')

10:-ICET, MVPA

**Note:**There are some restrictions in naming a variable.

variable name should start with a character

@ & /  # % ^* ! etc can’t be used in name

White space cannot be used in variable name

We can’t use keywords or reserved words as variable name. The key words in Python are.

------------------------------------

`and, del ,from ,not, while,
as, elif, global ,or ,with
assert, else, if, pass, yield,
break ,except, import, print,
class, exec, in, raise,
continue, finally, is ,return,
def, for, lambda, try`

---------------------------------

This makes variable definition easy for the programmer. As usual, though, great power comes with great responsibility. For example:

In [ ]:
py_varible = py_variable+100
print("Value is :",py_variable)

Value is : 2

>* Wrtie a simple programe to find sum of two numbers

In [ ]:
"""
programe to find sum of two numbers
"""
a=5; b=9
s=a+b
print("sum is:",s)

sum is: 14

> **Note:** If you accidentally mistype a variable name, `Python` will not catch it for you. This can lead to bugs that can be hard to track - so beware.

## Types and Typecasting
The usual typecasting is available in `Python`, so it is easy to convert `strings` to `ints` or floats, `floats` to `ints`, etc. The syntax is slightly different than C:

In [ ]:
a = "1"
b = 5 
print(a+b)

TypeError: ignored

This error can by corrected using `type casting` as shown below:

>Note that the typing is dynamic. I.e. a variable that was initally say an integer can become another type (float, string, etc.) via reassignment.

In [ ]:
a = "1"
b = 5
print(int(a)+b)

6

## Operators

`Python` offers the usual operators such as `+,-,/,*,=,>,<,==,!=,&,|`, (sum, difference, divide, product, assignment, greater than, less than, equal - comparison,not equal, and, or, respectively).
Additionally, there are `%,// and **` (modulo, floor division and 'to the power'). Note a few specifics:

In [ ]:
print(3/4)
print(3.0 / 4.0)
print(3%4)
print(3//4)
print(3**4)

0.75
0.75
3
0
81

>Note the behavior of / when applied to integers! This is similar to the behavior of other strongly typed languages such as C/C++. The result of the integer division is the same as the floor division //. If you want the floating point result, the arguments to / must be floats as well (or appropriately typecast).

In [ ]:
a = 3
b = 4
print(a/b)
print(float(a)/float(b))

0.75
0.75

## Iterators
`Python` has the usual iterators, `while, for`, and some other constructions that will be addressed later. Here are examples of each:

In [ ]:
# example of for loop
for i in range(1,10):
     print(i)

1
2
3
4
5
6
7
8
9

>The most important thing to note above is that the range function gives us values up to, but not including, the upper limit.

In [ ]:
# example of while loop
i = 1
while i < 10:
    print(i)
    i+=1

## Conditional Statements

In [ ]:
a = 20
if a >= 22:
   print("if")
elif a >= 21:
    print("elif")
else:
    print("else")

>Again, nothing remarkable here, just need to learn the syntax. Here, we should also mention spacing. Python is picky about indentation - you must start a newline after each conditional statemen (it is the same for the iterators above) and indent the same number of spaces for every statement within the scope of that condition.

## Exceptions in `Python`
Python has another type of conditional expression that is very useful. Suppose your program is processing user input or data from a file. You don't always know for sure what you are getting in that case, and this can lead to problems. The `try/except` conditional can solve them!

In [ ]:
a = "1"

try:
  b = a + 2 
except:
  print(a, " is not a number")

1  is not a number

## Functions

We can write repeated process in the form of user defined functions. Syntax of `function` in `Python` is:

```
def <function name>(arguments):
  function body
```
>**Example:** `Python` function to calculate division.

In [ ]:
# function definition
def Division(a, b):
    print(a/b)

In [ ]:
# calling the function

Division(1,9)

0.1111111111111111

In [ ]:
Division(0.5,8)

0.0625

### Modified version with `try-exception` options

In [ ]:
def Division(a, b):
    try:
        print(a/b)
    except:
        if b == 0:
           print("cannot divide by zero")
        else:
           print(float(a)/float(b))

In [ ]:
Division(2,"2")
Division(2,0)

1.0
cannot divide by zero

## Strings and String Handling
One of the most important features of `Python` is its powerful and easy handling of strings. Defining strings is simple enough in most languages. But in `Python`, it is easy to search and replace, convert cases, concatenate, or access elements.

In [ ]:
a = "A string of characters, with newline \n CAPITALS, etc."
print(a)
b=5.0
newstring = a + "\n We can format strings for printing %.2f"
print(newstring %b)

A string of characters, with newline
 CAPITALS, etc.
A string of characters, with newline
 CAPITALS, etc.
 We can format strings for printing 5.00

In [ ]:
a=4.5
b=6.7
sum=a+b
print(("Sum of {} and {} is {}").format(a,b, sum))

Sum of 4.5 and 6.7 is 11.2

In [ ]:
# slicing operation on strings
a = "ABC DEFG"
print(a[1:3])
print(a[0:5])

BC
ABC D

In [ ]:
# some string operation examples

a = "ABC defg"
print(a.lower())
print(a.upper())
print(a.find('d'))
print(a.replace('de','a'))
print(a)
b = a.replace('def','aaa')
print(b)
b = b.replace('a','c')
print(b)
b.count('c')

abc defg
ABC DEFG
4
ABC afg
ABC defg
ABC aaag
ABC cccg

3

## String traversal in `Python`

One can use a `for loop`, `range` in `Python`, slicing operator, and a few more methods to traverse the characters in a string.

### Using for loop to traverse a string

It is the most prominent and straightforward technique to iterate strings. Follow the below sample code:

In [ ]:
## code for printing letters in a string

"""
Python Program:
 Using for loop to iterate over a string in Python
"""
string_to_iterate = "Hands-on Workshop in Python"
#for char in string_to_iterate:
  # print(char)

### Python range to iterate over a string
Another quite simple way to traverse the string is by using `Python` `range` function. This method lets us access string elements using the index.

Go through the sample code given below:

In [ ]:
"""
Python Program:
 Using range() to iterate over a string in Python
"""
string_to_iterate = "Statistical Modelling Using Python"
#for char_index in range(len(string_to_iterate)):
#   print(string_to_iterate[char_index])

### Slice operator to iterate strings partially
You can traverse a string as a substring by using the `Python` slice operator (`[]`). It cuts off a substring from the original string and thus allows to iterate over it partially.

The `[]` operator has the following syntax:

```
# Slicing Operator
string [starting index : ending index : step value]
```

To use this method, provide the starting and ending indices along with a step value and then traverse the string. Below is the example code that iterates over the first six letters of a string.

In [ ]:
"""
Python Program:
 Using slice [] operator to iterate over a string partially
"""
string_to_iterate = "Python for Data Science"
#for char in string_to_iterate[0 : 6 : 1]:
#   print(char)

P
y
t
h
o
n

>**Task:** Use the slice operator to iterate over a string "Python_Data_Science" but leaving every alternate character.

In [ ]:
"""
Python Program:
 Using slice [] operator to iterate over a specific parts of a string
"""
string_to_iterate = "Python_for_Data_Science"
for char in string_to_iterate[ :  : 2]:
   print(char)

P
t
o
_
o
_
a
a
S
i
n
e

### Traverse string backward using slice operator
If you pass a -ve step value and skipping the starting as well as ending indices, then you can iterate in the backward direction. Go through the given code sample.

In [ ]:
"""
Python Program:
 Using slice [] operator to iterate string backward
"""
string_to_iterate = "Computational Mathematics"
for char in string_to_iterate[ :  : -1]:
   print(char)

### Using indexing to iterate strings backward
Slice operator first generates a reversed string, and then we use the for loop to traverse it. Instead of doing it, we can use the indexing to iterate strings backward.

In [ ]:
"""
Python Program:
 Using indexing to iterate string backward
"""
string_to_iterate = "Explainable Machine Learning"
char_index = len(string_to_iterate) - 1
while char_index >= 0:
   print(string_to_iterate[char_index])
   char_index -= 1

>Alternate Method

In [ ]:
"""
Python Program:
 Using -ve index to iterate string backward
"""
string_to_iterate = "Learn Python"
char_index = 1
while char_index <= len(string_to_iterate):
   print(string_to_iterate[-char_index])
   char_index += 1

## Derived datatypes in `Python`

> `Lists,set,Tuples, Dictionaries`

### 1. Lists
Lists are exactly as the name implies. They are lists of objects. The objects can be any data type (including lists), and it is allowed to mix data types. In this way they are much more flexible than arrays. It is possible to `append, delete, insert` and `count` elements and to `sort`, `reverse`, etc.

>Example

In [ ]:
a_list = [1,2,3,"this is a string",5.3]
b_list = ["A","B","F","G","d","x","c",a_list,3]
print(b_list)
print(b_list[7:9])

['A', 'B', 'F', 'G', 'd', 'x', 'c', [1, 2, 3, 'this is a string', 5.3], 3]
[[1, 2, 3, 'this is a string', 5.3], 3]

In [ ]:
a = [1,2,3,4,5,6,7,3]
temp=a.copy()# create a copy of a and store with name temp
a.insert(0,0)
print(a)
a.append(8)
print(a)
a.reverse()
print(a)
a.sort()
print(a)
a.pop()
print(a)
a.remove(3)
print(a)
a.remove(a[4])# same as a.remove(4)
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 3]
[0, 1, 2, 3, 4, 5, 6, 7, 3, 8]
[8, 3, 7, 6, 5, 4, 3, 2, 1, 0]
[0, 1, 2, 3, 3, 4, 5, 6, 7, 8]
[0, 1, 2, 3, 3, 4, 5, 6, 7]
[0, 1, 2, 3, 4, 5, 6, 7]
[0, 1, 2, 3, 5, 6, 7]

In [ ]:
temp

[1, 2, 3, 4, 5, 6, 7, 3]

**list comprehensions:** Lists can be constructed using `for` and some conditional statements like $\lambda-$ functions. These are called, 'list comprehensions'. For example:

In [ ]:
even_numbers = [x for x in range(100) if x % 2 == 0]
print(even_numbers)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

>List comprehensions can work on strings as well:

1. create a list of letters from the sentence `Pyworks 1.0 will helps me learn Python`

In [ ]:
first_sentence = "Pyworks 1.0 will help me learn Python."
characters = [x for x in first_sentence]
print(characters)

['P', 'y', 'w', 'o', 'r', 'k', 's', ' ', '1', '.', '0', ' ', 'w', 'i', 'l', 'l', ' ', 'h', 'e', 'l', 'p', ' ', 'm', 'e', ' ', 'l', 'e', 'a', 'r', 'n', ' ', 'P', 'y', 't', 'h', 'o', 'n', '.']

>**Map function:** Another similar feature is called `map`. Map applies a function to a list. The syntax is
```
map(aFunction, aSequence)
```

Consider the following examples:

In [ ]:
def sqr(x): return x ** 2

In [ ]:
a = [2,3,4]
b = [10,5,3]
c = map(sqr,a)

In [ ]:
print(list(c))

[4, 9, 16]

In [ ]:
d = map(pow,a,b)
print(list(d))

[1024, 243, 64]

### List traversal in `Python`

Methods of Traversing Lists
Here are the methods which one can refer to for traversing lists in Python:

1. `Python` `range ()` method
2. List Comprehension
3. Python `enumerate()` method
4. `Lambda` function
5. By using a `for` Loop
6. By using a `while` Loop

In [ ]:

# Python3 code to iterate over a list
"""
using for loop for list traversal
"""
list1 = [2, 4, 6, 8, 10]

# Using for loop

for i in list1:
  print(i)

2
4
6
8
10

In [ ]:
#Using For Loop and Range ()

"""
List traversal using range() with iterative function
inefficient way
"""

# Python3 code to iterate over a list

list2 = [2, 4, 6, 8, 10]

# getting length of list

length = len(list2)

# Iterating the index

# same as 'for i in range(len(list2))'

for i in range(length):
  print(list2[i])

2
4
6
8
10

In [ ]:

# Python3 code to iterate over a list

"""
Traversing with while loop
"""
list2 = [2, 4, 6, 8, 10]
# Getting length of list
length = len(list2)
i = 0
# Iterating using while loop
while i < length:
  print(list2[i])
  i += 1

2
4
6
8
10

### List comprehension
This one is possibly the most concrete way.

In [ ]:
#Using List Comprehension

# Python3 code to iterate over a list
list2 = [2, 4, 6, 8, 10]
# Using list comprehension
[i**2 for i in list2]

[4, 16, 36, 64, 100]

### Using `enumerate()`
If you wish to convert the list into an iterable list of tuples (or get the index on the basis of a condition check, for instance, in linear search, one might want to save the index of minimum element), one can use the `enumerate()` function.

In [ ]:
# Python3 code to iterate over a list
list2 = [1, 3, 5, 7, 9]
# Using enumerate()
print("Shows the key value pairs:")
print("**"*12)
for i, val in enumerate(list2):
  print (i, ",",val)

Shows the key value pairs:
************************
0 , 1
1 , 3
2 , 5
3 , 7
4 , 9

###  Using `Python` `lambda` function

`Python` `map ()` method accepts a function as a parameter and returns a list.

The input function to the `map()` method gets called with every element of the iterable and it returns a new list with all the elements returned from the function, individually.

In [ ]:
lst = [20, 40, 85, 93, 99, 85, 31]
res = map(lambda x:x, lst)
print(list(res))

[20, 40, 85, 93, 99, 85, 31]

>**Task:** Write a program to check whether a given string is a palindrome or not?

In [ ]:
# Program to check if a string is palindrome or not

my_str = 'MalayalaM'

# make it suitable for caseless comparison
my_str = my_str.casefold()

# reverse the string
rev_str = reversed(my_str)

# check if the string is equal to its reverse
if list(my_str) == list(rev_str):
   print("The string is a palindrome.")
else:
   print("The string is not a palindrome.")

The string is a palindrome.

## Tuples
Tuples are like lists with one very important difference. Tuples are *not changeable (mutable)*.

>Syntax

```
tuple_name=(item1,item2,item3,...)
```

In [ ]:
a = (1,2,3,4)
print(a)
a[1] # will produce an error

(1, 2, 3, 4)

2

In [ ]:
a = (1,"string in a tuple",5.3)
b = (a,1,2,3)
print(a)
print(b)

(1, 'string in a tuple', 5.3)
((1, 'string in a tuple', 5.3), 1, 2, 3)

>One other handy feature of tuples is known as 'tuple unpacking'. Essentially, this means we can assign the values of a tuple to a list of variable names, like so:

In [ ]:
my_pets = ("Chestnut", "Tibbs", "Dash", "Bast")
(aussie,b_collie,indoor_cat,outdoor_cat) = my_pets
print(aussie)
cats=[indoor_cat,outdoor_cat]
print(cats)
type(cats)

Chestnut
['Dash', 'Bast']

list

In [ ]:
type(my_pets)

tuple

### Sets
Sets are unordered collections of unique elements. Intersections, unions and set differences are supported operations. They can be used to remove duplicates from a collection or to test for membership. For example:

In [ ]:
A={1,2,3,4,6}
print(A)
B=set([1,2,4,5,2,3,5,2,4,5,6,7,1])
print(B)

{1, 2, 3, 4, 6}
{1, 2, 3, 4, 5, 6, 7}

In [ ]:
fruits = set(["apples","oranges","grapes","bananas"])
citrus = set(["lemons","oranges","limes","grapefruits","clementines"])
citrus_in_fruits = fruits & citrus   #intersection
print(citrus_in_fruits)
diff_fruits = fruits - citrus        # set difference
print(diff_fruits)
diff_fruits_reverse = citrus - fruits  # set difference
print(diff_fruits_reverse)
citrus_or_fruits = citrus | fruits     # set union
print(citrus_or_fruits)

{'oranges'}
{'apples', 'grapes', 'bananas'}
{'limes', 'grapefruits', 'lemons', 'clementines'}
{'oranges', 'bananas', 'grapes', 'limes', 'lemons', 'clementines', 'grapefruits', 'apples'}

In [ ]:
a_list = ["a", "a","a", "b",1,2,3,"d",1]
print(a_list)
a_set = set(a_list)  # Convert list to set
print(a_set)         # Creates a set with unique elements
new_list = list(a_set) # Convert set to list
print(new_list)        # Obtain a list with unique elements

['a', 'a', 'a', 'b', 1, 2, 3, 'd', 1]
{1, 2, 3, 'd', 'a', 'b'}
[1, 2, 3, 'd', 'a', 'b']

## Dictionaries
Dictionaries are unordered, keyed lists. Lists are ordered, and the index may be viewed as a key.

In [ ]:
a = {'anItem': "A", 'anotherItem': "B",'athirdItem':"C",'afourthItem':"D"} # dictionary example
print(a)

{'anItem': 'A', 'anotherItem': 'B', 'athirdItem': 'C', 'afourthItem': 'D'}

In [ ]:
Features={'Interior':['wardrob','modular kitchen','corner sofa'],'Exterior':['sitout','balcony','fountain','garden']}

In [ ]:
print(Features['Interior'])

['wardrob', 'modular kitchen', 'corner sofa']

In [ ]:
for i in Features['Interior']: print(i)

wardrob
modular kitchen
corner sofa

## Classes
A class bundles data (known as attributes) and functions (known as methods) together. We access the attributes and mehtods of a class using the `.` notation. Since everything in `Python` is an object, we have already been using this attribute acccess - e.g. when we call `hello.upper()`, we are using the `upper` method of the instance `hello` of the string class.

### Modules
As the code base gets larger, it is convenient to organize them as `moudles` or `packages`. At the simplest level, modules can just be regular `python` files. We import functions in modules using one of the following import variants:
```
import numpy
import numpy as np # using an alias
import numpy.linalg as la # modules can have submodules
from numpy import sin, cos, tan # bring trig functions into global namespace
from numpy import * # frowned upon because it pollutes the namespace
```

## File operations in `Python`

A file is a container in computer storage devices used for storing data.

When we want to read from or write to a file, we need to open it first. When we are done, it needs to be closed so that the resources that are tied with the file are freed.

Hence, in Python, a file operation takes place in the following order:

* Open a file
* Read or write (perform operation)
* Close the file

### Opening Files in Python
In `Python`, we use the `open()` method to open files.

To demonstrate how we open files in Python, let's suppose we have a file named `test.txt` with the following content.

```
This a a secret file
Do not try to open it

```

In [ ]:
text_file = open("sample.txt", "w")
n = text_file.write('This a a secret file\nDo not try to open it')
text_file.close()

In [ ]:
# open and read a file

# open a file
file1 = open("sample.txt", "r")

# read the file
read_content = file1.read()
print(read_content)

This a a secret file
Do not try to open it

### Closing Files in Python
When we are done with performing operations on the file, we need to properly close the file.

Closing a file will free up the resources that were tied with the file. It is done using the `close()` method in Python. For example,

In [ ]:
# open a file
file1 = open("sample.txt", "r")

# read the file
read_content = file1.read()
print(read_content)

# close the file
file1.close()

This a a secret file
Do not try to open it

In [ ]:
# another example

with open('test2.txt', 'w') as file2:

    # write contents to the test2.txt file
    file2.write('Programming is Fun.')
    file2.write('Programiz for beginners')
    file2.close()

## Exercises

1. Solve the FizzBuzz probelm

"Write a program that prints the numbers from 1 to 5. But for multiples of three print “Fizz” instead of the number and for the multiples of five print “Buzz”. For numbers which are multiples of both three and five print “FizzBuzz”.

In [ ]:
for i in range(1,16):
  if ((i%3==0 ) & (i%5==0)):
    print("FizzBuzz")
  elif (i%3==0):
    print("Fizz")
  elif(i%5==0):
    print("Buzz")
  else:
    print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz

2. Given x=3 and y=4, swap the values of x and y so that x=4 and y=3.

In [ ]:
x=3
y=4
t=x
x=y
y=t
print(x,y)

4 3

3.  Using a dictionary, write a program to calculate the number times each character occurs in the given string s. Ignore differneces in capitalization - i.e 'a' and 'A' should be treated as a single key. For example, we should get a count of 7 for 'a'.

In [ ]:
# initializing string
test_str = "Malayalam"
test_str=test_str.lower() 
# using set() + count() to get count
# of each element in string
res = {i: test_str.count(i) for i in set(test_str)}
 
# printing result
print(("The count of all characters in {} is {}").format(test_str,res))

The count of all characters in malayalam is {'l': 2, 'y': 1, 'a': 4, 'm': 2}